* {
    margin: 0;
    padding: 0;
    font-family: 'Pacifico', cursive;
    box-sizing: border-box;
    --main-color: #ffffff;
    --primary-color: rgb(238, 55, 22);
    --secondary-color: #0c0c0c; 
}

/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


/* Body Styling */
body {
    opacity: 0.8;
    background-size: 20px 20px;
    background: #000000;
    display: flex;
    height: auto;
    padding: 10px;
    overflow: auto;
    flex-direction: column;
}

/* Header Styling */
.header {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 2px 10%; 
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background-color: #000000; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

#menu-icon {
    font-size: 24px;
    display: none; 
    cursor: pointer;
}

.logo {
    font-size: 3rem;
    color: var(--main-color);
    font-weight: 1000;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    text-decoration: none; 
    white-space: nowrap; 
}

.logo:hover {
    transform: scale(1.1);
}

.logo span {
    background: linear-gradient(270deg, #f5032c 10%, #ffa600 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-decoration: none;
}

/* Navbar Styling */
.navbar {
    display: flex;
    padding: 1rem;
}

.navbar a {
    font-size: 1.5rem;
    color: var(--main-color);
    margin: 0;
    font-weight: 1000;
    transition: 0.3s ease-in-out;
    border-bottom: 1px solid transparent;
    text-decoration: none;
    display: block;
    margin-bottom: 0.1rem;
    padding: 20px;
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: 3px solid var(--primary-color);
}

/* Gradient Button Styling */
.gradient-btn {
    font-size: 1rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
    background: linear-gradient(270deg, #f5032c 10%, #ffa600 100%);
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color: white;
    border: none;
    white-space: nowrap;
    text-decoration: none;
}

.gradient-btn:hover {
    transform: scale(1.05);
}

/* Section Styling */
section {
    min-height: 100vh;
    padding: 10rem 15%;
    color: var(--main-color);
}

/* Home Section */
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
}

.home-content h1 {
    font-size: 3.5em;
    font-weight: 700;
    margin-top: 1.8rem;
    line-height: 1;
}

.home-content h1 span {
    background: linear-gradient(270deg, #f5032c, #ffa600);
    -webkit-background-clip: text;
    color: transparent;
}

.home-content h3 {
    margin: 1rem 0;
    font-size: 2.0rem;
    line-height: 2;
}

.home-content h3 span {
    background: linear-gradient(270deg, #f5032c, #ffa600);
    -webkit-background-clip: text;
    color: transparent;
}

.home-content p {
    font-size: 1.3rem;
}


/* Home Image Styling */
.home-img {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 5rem;
}

.home-img img {
    width: 360px;
    height: 500px;
    border-radius: 15%;
    transition: transform 0.4s ease-in-out;
    position: relative;
    z-index: 1;
}

.home-img:hover img {
    transform: scale(1.05);
}

.home-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20%;
    background: linear-gradient(270deg, #f5032c 10%, #ffa600 100%);
    filter: blur(150px);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 0;
}

.home-img:hover::before {
    opacity: 1; 
}



/* Social Media Icons Styling */
.social-icons {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid var(--primary-color); 
    text-decoration: none;
    border-radius: 50%;
    position: relative;
    transition: 0.3s ease-in-out;
    
}

.social-icons a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background: linear-gradient(270deg, #f5032c 10%, #ffa600 100%);
    filter: blur(150px);
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    z-index: 0;
}

.social-icons a:hover::before {
    opacity: 1;
}

.social-icons a i {
    background: linear-gradient(270deg, #f5032c 10%, #ffa600 100%);
    -webkit-background-clip: text;
    color: transparent;
    
    transition: transform 0.3s ease-in-out;
}

.social-icons a:hover i {
    transform: scale(1.2);
}

/* Button Styling */
.btn-group {
    margin-top: 2rem;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

.btn {
    
    display: inline-block;
    padding: 0.5rem 2rem;
    background: var(--primary-color);
    border-radius: 1rem;
    text-decoration: none;

    font-size: 1rem;
    box-shadow: 0 0 25px var(--primary-color);
    transition: all 0.3s;
    font-weight: 600;
    
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--primary-color);
}

.btn-group a:nth-of-type(2) {
    background-color: #000000;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    box-shadow: 0 0 25px transparent;
}

.btn-group a:nth-of-type(2):hover {
    box-shadow: 0 0 25px var(--primary-color);
    background-color: var(--primary-color);
    color: #000000;
}


/* About Section Styling */
.about {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background: #030303;
}

.about-content h2 {
    font-size: 4rem;
    text-align: left;
}

.about-content span {
    font-size: 4rem;
    text-align: left;
    background: linear-gradient(270deg, #f5032c 10%, #ffa600 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.about-content p {
    font-size: 1.5rem;
}

.about-content .btn {
    margin: 2rem 0;
    color: #000000;
    background-color: var(--primary-color);
    border: none; 
    box-shadow: none;
    outline: none; 
    padding: 1rem 2rem ; 
    border-radius: 1.5rem;
}

.about-content .btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color);
}

.about-img {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.about-img img {
    width: 300px;
    height: 300px;
    border-radius: 15%;
    transition: transform 0.4s ease-in-out;
    position: relative;
    z-index: 1;
}

.about-img:hover img {
    transform: scale(1.05);
}

.about-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20%;
    background: linear-gradient(270deg, #f5032c 10%, #ffa600 100%);
    filter: blur(150px);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 0;
}

.about-img:hover::before {
    opacity: 1;
}


/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #050505;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #f5032c, #ffa600);
    
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #ffa600, #f5032c);
}

/* Services Styling */

.heading {
    text-align: center;
    font-size: 3rem;
    margin: 1rem 0;
}

.services {
    
    padding: 2rem 0; 
}

.services h2 {
    color: white;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    align-items: start; 
    gap: 2.5rem;
    padding: 5rem 25%; 
}

.service-box {
    display: flex;
    justify-content: space-between;
    height: 42rem;
    width: 45rem;
    gap: 2rem;
    padding: 2rem;
    background:var(--primary-color);
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    transition: 0.4s ease-in-out;
    
}

.service-box:hover{
    background: #161616;
    border: 5px solid var(--primary-color);
    transform: scale(1.05);
    
}

.service-box:hover .service-info i,
.service-box:hover .service-info h4,
.service-box:hover .service-info p {
    color: var(--primary-color); 
}

.service-info {
    text-align: center;
}

.service-info i {
    font-size: 4rem;
    margin: 2rem 0;
    font-weight: 800;
    color: black;
}

.service-info h4 {
    font-size: 2.5rem;
    margin: 2rem 0;
    font-weight: 800;
    color: #000000;
}

.service-info p {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.7;
    color: black;
}


/* Projects */

.projects {
    background: #030303;
    padding: 2rem 2%;
    
}

.projects .heading {
    text-align: center;
    font-size: 3rem;
    margin: 1rem 0;
    color: white;
}


.projects-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    gap: 3rem; 
    row-gap: 5rem; 
    
}


.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    transition: 0.3s ease;
    border: 2px solid var(--main-color);
    border-radius: 3rem;
    padding: 2rem; 
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 5px var(--primary-color);
    transition: 0.3s ease;
    border: var(--primary-color);
    width: 400px; 
    max-width: 450px; 
    height: 550px;
    
}


.project-card:hover {
    box-shadow: 0 0 25px var(--primary-color),
                0 0 50px var(--primary-color);
    transform: scale(1.02);
}


.project-card img {
    width: 100%; 
    height: auto; 
    border-radius: 2rem;
    object-fit: cover;
}


.project-card h3 {
    font-size: 1.5rem;
    color: white; 
    margin: 1rem 0;
}


.project-card p {
    font-size: 1rem;
    color: white; 
    margin: 1rem 0; 
}


.btn {
    margin: 1rem 0;
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    color: white;
    border-radius: 2rem;
    transition: background-color 0.3s ease;
    text-align: center;
}


.btn:hover {
    background-color: var(--primary-color)
}

img[alt="pic 2"] {
    width: 200px;
    height: 200px;

}

img[alt="pic 3"] {
    width: 250px;
    height: 200px;

}
img[alt="pic4"] {
    width: 5rem;
    height: 5rem;

}

img[alt="pic 6"] {
    width: 100px;
    height: 100px;
}

/* Contact Me */
.heading span{
    background: linear-gradient(270deg, #f5032c, #ffa600);
    -webkit-background-clip: text;
    color: transparent;
}

.contact {
    background-color: black;
    padding: 3rem;
}

.contact h2 {
    margin-bottom: 3rem;
    text-align: center;
    color: white;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem 0;
    text-align: center;
    width: 100%;
}

.contact form .input-group {
    display: flex;
    gap: 2rem;
    width: 100%;
    justify-content: center;
}

.contact form .input-box {
    width: 100%;
    flex: 1;
}

.contact form .input-box input,
.contact form .input-box textarea {
    padding: 1.8rem;
    font-size: 1.2rem;
    background-color: black;
    border-radius: 2rem;
    border: 2px solid red; 
    color: white;
    resize: none;
}

/* Placeholder styling */
.contact form .input-box input::placeholder,
.contact form .input-box textarea::placeholder {
    color: #999; 
}

/* Button styling */
.send-message {
    background-color: #ec940f;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}






/* Footer */

.footer{
    background-color: var(--secondary-color);
    padding: 50px 0;
}

.footer .social-icons{
    align-items: center;
}

.footer ul{
    text-align: center;
    font-size: 1.8rem;
}

.footer ul li a{
    display: inline-block;
    margin-left: 20px;
}

.footer ul li a{
    color: #ffffff;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}

.footer ul li a:hover{
    border-bottom: 3px solid var(--primary-color);
}

.tintun{
    text-align: center;
    font-size: 1.2rem;
    padding: 30px;
    color: white;
}

/* Media Queries */
@media (max-width: 1200px) {
    section {
        padding: 10rem 10%;
    }

    .project-item {
        width: calc(50% - 2rem);
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2px 5%;
    }
    .gradient-btn{
        display: none;
    }
    .navbar {
        display: none;
    }

   

    #menu-icon {
        display: block;
        font-size: 2.5rem;
        color: var(--primary-color);
    }

    .home {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .home-content {
        order: 2;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
    }

    .home-content h1 {
        
        font-size: 3rem;
    }

    .home-content h3 {
        font-size: 1.8rem;
        
    }

    .home-content p {
        font-size: 1.2rem;
        text-align: center;
        
    }

    .home-img {
        order: 1;
        justify-content: center;
        margin-top: 0;
    }

    .home-img img {
        width: 300px;
        height: 400px;
    }

    .about {
        flex-direction: column;
        text-align: center;
    }
    
    .about-content {
        display: flex;
        flex-direction: column;
        align-items: center; 
        
    }


    .about-img img {
        width: 300px;
        height: 400px;
    }

    .project-item {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .home-content h1 {
        font-size: 2.5rem;
    }

    .home-content h3 {
        font-size: 1.6rem;
    }

    .home-content p {
        font-size: 1rem;
    }

    .home-img img {
        width: 250px;
        height: 350px;
    }

    .about-img img {
        width: 250px;
        height: 350px;
    }
}

@media (max-width: 500px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .home-content h1 {
        font-size: 2rem;
    }

    .home-content h3 {
        font-size: 1.4rem;
    }

    .home-content p {
        font-size: 0.9rem;
    }

    .home-img img {
        width: 300px;
        height: 300px;
        
    }

    .about-content h2 {
        font-size: 2.5rem;
    }

    .about-content span {
        font-size: 2.5rem;
    }
}

@media (max-width: 1200px) {
    .services-container {
        padding: 5rem 5%;
    }
}

@media (max-width: 991px) {
    .services {
        padding: 5rem 2%;
    }

    .services-container {
        padding: 5rem 2%;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .service-box {
        width: 100%;
        margin: 1rem 0;
        height: auto;
    }
}

@media (max-width: 768px) {
    .services {
        padding: 3rem 2%;
    }

    .service-info i {
        font-size: 3rem;
    }

    .service-info h4 {
        font-size: 2rem;
    }

    .service-info p {
        font-size: 1.2rem;
    }
}

@media (max-width: 500px) {
    .services {
        padding: 2rem 2%;
    }

    .service-info i {
        font-size: 2.5rem;
    }

    .service-info h4 {
        font-size: 1.8rem;
    }

    .service-info p {
        font-size: 1rem;
    }
}

@media (max-width: 1200px) {
    .projects-box {
        padding: 5rem 5%;
    }
}

@media (max-width: 991px) {
    .projects {
        
        padding: 5rem 2%;
    }

    .projects-box {
        padding: 5rem 2%;
        grid-template-columns: 1fr;
        margin-left: 5rem;
    }

    .project-card {
        width: 100%;
        margin: 1rem 0;
        height: auto;
    }
}

@media (max-width: 768px) {
    .projects {
        padding: 3rem 2%;
    }

    .project-card h3 {
        font-size: 1.5rem;
    }

    .project-card p {
        font-size: 1rem;
    }

    .project-card h5 {
        font-size: 0.9rem;
    }
}

@media (max-width: 500px) {
    .projects {
        padding: 2rem 2%;
    }

    .project-card h3 {
        font-size: 1.2rem;
    }

    .project-card p {
        font-size: 0.8rem;
    }

    .project-card h5 {
        font-size: 0.7rem;
    }
}



/* Media query for smaller screens */
@media (max-width: 768px) {
  input[type="text"],
  input[type="email"],
  input[type="subject"] {
    font-size: 15rem;
    padding: 5px;
  }
}
